
@using System.Data
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $(document).ready(function () {
        $('#tableSucessfullTransaction').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
        //$('#module_2').css({ "background-color": "#00B4CE" });
        //$('#module_2').css({ "font-weight": "bold" });
        //$('#submodule_8').css({ "background-color": "#00B2aa" });
        //$('#submodule_8').css({ "font-weight": "bold" });
    });
</script>
<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        @{ int rowNo = 0; }
        <div class="panel-title new-title">
            Successful Transaction
        </div>

    </div>
    <div class="table-responsive">
        <table id="tableSucessfullTransaction" class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    
                    <th style="width:20px">
                        Transaction Id
                    </th>
                    <th style="width:60px">
                        Transaction Date Time
                    </th>
                    <th style="width:40px">
                        Gantry Id
                    </th>
                    <th style="width:140px">
                        <div class="col-sm-12">
                            <div style="text-align:center;">
                                IKE
                            </div>
                            <div class="col-sm-6">
                                Plate
                            </div>
                            <div class="col-sm-6">
                                Class
                            </div>
                        </div>
                    </th>
                    <th style="width:240px">
                        <div class="col-sm-12">
                            <div style="text-align:center;">
                                Front ANPR
                            </div>
                            <div class="col-sm-3">
                                Plate
                            </div>
                            <div class="col-sm-3">
                                Class
                            </div>
                            <div class="col-sm-3">
                                Image
                            </div>
                            <div class="col-sm-3">
                                Video
                            </div>
                        </div>
                    </th>
                    <th style="width:240px">
                        <div class="col-sm-12">
                            <div style="text-align:center;">
                                Rear ANPR
                            </div>
                            <div class="col-sm-3">
                                Plate
                            </div>
                            <div class="col-sm-3">
                                Class
                            </div>
                            <div class="col-sm-3">
                                Image
                            </div>
                            <div class="col-sm-3">
                                Video
                            </div>
                        </div>
                    </th>
                    <th style="width:60px">
                        Vehicle Speed
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow item in Model.Rows)
            {
                    <tr>
                       
                        <td>
                            @item["TRANSACTION_ID"].ToString()
                        </td>
                        <td>
                            @item["TRANSACTION_DATETIME"].ToString()
                        </td>
                        <td>
                            @item["PLAZA_ID"].ToString()
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    @item["CTP_VRN"].ToString()
                                </div>
                                <div class="col-sm-6">
                                    @item["CTP_VEHICLE_CLASS_NAME"].ToString()
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    @item["FRONT_VRN"].ToString()
                                </div>
                                <div class="col-sm-3">
                                    @item["NFP_VEHICLE_CLASS_NAME_FRONT"].ToString()
                                </div>
                                <div class="col-sm-3">
                                    @if (item["FRONT_IMAGE"].ToString() != "")
                                    {
                                        string path = ViewData["apiPath"] + item["FRONT_IMAGE"].ToString();
                                        string path1 = path.Replace('/', '^');
                                        <span onclick="openimage(this);" path="@path1">
                                            <img src="@path" height="40" width="60" />
                                        </span>

                                    }
                                </div>
                                <div class="col-sm-3">
                                    @if (item["FRONT_VIDEO_URL"].ToString() != "")
                                    {
                                        string path = item["FRONT_VIDEO_URL"].ToString();
                                        path = path.Replace('/', '^');
                                        <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                    }

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    @item["REAR_VRN"].ToString()
                                </div>
                                <div class="col-sm-3">
                                    @item["NFP_VEHICLE_CLASS_NAME_REAR"].ToString()
                                </div>
                                <div class="col-sm-3">
                                    @if (item["REAR_IMAGE"].ToString() != "")
                                    {
                                        string path = ViewData["apiPath"] + item["REAR_IMAGE"].ToString();
                                        string path1 = path.Replace('/', '^');
                                        <span onclick="openimage(this);" path="@path1">
                                            <img src="@path" height="40" width="60" />
                                        </span>

                                    }
                                </div>
                                <div class="col-sm-3">
                                    @if (item["REAR_VIDEO_URL"].ToString() != "")
                                    {
                                        string path = item["REAR_VIDEO_URL"].ToString();
                                        path = path.Replace('/', '^');
                                        <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                    }

                                </div>
                            </div>
                        </td>

                        <td>
                            @item["VEHICLESPEED"].ToString() Km/h
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="modal fade" tabindex="-1" id="ImageData"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #fefefe;margin: 15% auto;padding: 20px; border: 1px solid #888;width: 350px; ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title">ANPR Data</h4>
                </div>
                <div class="modal-body" style="padding:0px">
                    <div id="imagediv">
                        <img src="" id="myimage" height="150" width="300" />
                    </div>
                    <div id="video">
                        <video width="320" height="240" controls>
                            <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function imageclose() {
        //var modal = document.getElementById('myModal');
        //modal.style.display = "none";

        $("#imagediv").hide();
    }

    function videoclose() {
        //var modal = document.getElementById('myModalVideo');
        //modal.style.display = "none";
        $("#video").hide();
    }
    function openimage(ctrl) {
        videoclose();
        var ImagePath = $(ctrl).attr('path');
        $("#myimage").attr('src', findAndReplace(ImagePath, '^', '/'));
        $("#imagediv").show();
        //var modal = document.getElementById('myModal');
        //modal.style.display = "block";

        $('#ImageData').modal('show');
    }

    function openVideo(ctrl) {
        imageclose();
        var VideoPath = $(ctrl).attr('path');
        var $video = $('#video video'),
            videoSrc = $('source', $video).attr('src', findAndReplace(VideoPath, '^', '/'));
        $video[0].load();
        var modal = document.getElementById('myModalVideo');
        modal.style.display = "block";
        $("#video").show();
    }
    function Show() {
        if ($("#ddlGantry").val() == 0) {
            alert("Gantry harus dipilih ");
            return false;
        }
        var Inputdata = {
            StartDate: $("#StartDate").val() + ":00",
            EndDate: $("#EndDate").val() + ":00",
            GantryId: $("#ddlGantry").val(),
            VehicleClassId: $("#ddlVehicleClass").val(),
            PlateNumber: $("#PlateNumber").val(),
            TransactionCategoryId: $("#ddlTransactionCategory").val()
        }
        $('#loader').show();
        $.ajax({
            type: "POST",
            url: "ShowTransaction",
            //dataType: "JSON",
            async: true,
            data: JSON.stringify(Inputdata),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#loader').hide();
                $('#partial').html(result);

            },
            error: function (x, e) {
                $('#loader').hide();
                $('#partial').hide();
            }

        });
    }

    function findAndReplace(string, target, replacement) {
        var i = 0, length = string.length;
        for (i; i < length; i++) {
            string = string.replace(target, replacement);
        }
        return string;

    }
</script>
