@model IEnumerable<VaaaN.MLFF.Libraries.CommonLibrary.CBE.CustomerAccountCBE>
@{ int rowNo = 0; }
@if (ViewBag.RowNo != null)
{
    rowNo = ViewBag.RowNo;
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @(rowNo += 1)
        </td>
        <td>
            <a href='javascript:void(0);' onclick="DetailsOpen(this,@item.AccountId)">
                @Html.DisplayFor(modelItem => item.AccountId)
            </a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ResidentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
           
            <div class="dropleft">
                <span class="cur-p btn-light icon-holder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='c-blue-500 ti-angle-down'></i>
                </span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href='javascript:void(0);' onclick="EditOpen(this,@item.AccountId)">
                        <span class='icon-holder'>
                            <i class='c-blue-500 ti-pencil'></i>
                        </span>
                        <span class='title'>Edit</span>
                    </a>
                    <a class="dropdown-item" href='javascript:void(0);' onclick="HistoryRecords(this,@item.AccountId)">
                        <span class='icon-holder'>
                            <i class='c-blue-500 ti-exchange-vertical'></i>
                        </span>
                        <span class='title'>History</span>
                    </a>
                </div>
            </div>

           
        </td>
    </tr>
}
