@model VaaaN.MLFF.Libraries.CommonLibrary.CBE.ViewTransactionCBE
@{
    ViewBag.Title = "ManualReview";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    
    .hide {
        display: none;
    }

    .show {
        display: block;
    }
   
    
</style>
<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        <div class="panel-title new-title">
            Manual Review
        </div>
    </div>
    <div style="height:5px"></div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="col-xs-12 well boxshadow">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin:.1%">
                    <div class="form-horizontal">
                        <div class="form-group col-lg-12" style="margin:0%">
                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px">
                                <hr style="margin-left: 0;width:90%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px;width:5%">
                                <label style="padding-top:10px" class="form-label">Filters</label>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10" style="padding-left:1px;padding-right:1px;width:85%">
                                <hr style="margin-left: 0;  text-align: left;width: 100%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                            </div>
                        </div>
                        <form data-toggle="validator" role="form">
                            <div class="form-group">

                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("Gantry", htmlAttributes: new { @class = "control-label col-md-1 required" })
                                <div class="col-md-2">
                                    @Html.DropDownList("ddlGantry", (IEnumerable<SelectListItem>)ViewBag.Gantry, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GantryId, "", new { @class = "text-danger " })
                                </div>
                                @Html.Label("Vehicle Class", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.DropDownList("ddlVehicleClass", (IEnumerable<SelectListItem>)ViewBag.VehicleClass, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlateNumber, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.Label("Trans Category", htmlAttributes: new { @class = "control-label col-md-1 required" })
                                <div class="col-md-3">
                                    @Html.DropDownList("ddlTransactionCategory", (IEnumerable<SelectListItem>)ViewBag.TransactionCategory, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <button id="btnShow" type="button" class="btn btn-primary pull-right" onclick="Show()">Filter</button>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="partial">


            </div>

        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="ImageData"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #fefefe;margin: 15% auto;padding: 20px; border: 1px solid #888;width: 350px; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">ANPR Data</h4>
            </div>
            <div class="modal-body" style="padding:0px">
                <div id="imagediv">
                    <img src="" id="myimage" height="150" width="300" />
                </div>
                <div id="video">
                    <video width="320" height="240" controls>
                        <source src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function imageclose() {
        //var modal = document.getElementById('myModal');
        //modal.style.display = "none";

        $("#imagediv").hide();
    }

    function videoclose() {
        //var modal = document.getElementById('myModalVideo');
        //modal.style.display = "none";
        $("#video").hide();
    }
    function openimage(ctrl) {
        videoclose();
        var ImagePath = $(ctrl).attr('path');
        $("#myimage").attr('src', findAndReplace(ImagePath, '^', '/'));
        $("#imagediv").show();
        //var modal = document.getElementById('myModal');
        //modal.style.display = "block";

        $('#ImageData').modal('show');
    }

    function openVideo(ctrl) {
        imageclose();
        var VideoPath = $(ctrl).attr('path');
        var $video = $('#video video'),
            videoSrc = $('source', $video).attr('src', findAndReplace(VideoPath, '^', '/'));
        $video[0].load();
        var modal = document.getElementById('myModalVideo');
        modal.style.display = "block";
        $("#video").show();
    }
    function Show() {
        if ($("#ddlGantry").val() == 0) {
            alert("Gantry harus dipilih ");
            return false;
        }
        var Inputdata = {
            StartDate: $("#StartDate").val() + ":00",
            EndDate: $("#EndDate").val() + ":00",
            GantryId: $("#ddlGantry").val(),
            VehicleClassId: $("#ddlVehicleClass").val(),
            PlateNumber: $("#PlateNumber").val(),
            TransactionCategoryId: $("#ddlTransactionCategory").val()
        }
        $('#loader').show();
        $.ajax({
            type: "POST",
            url: "ShowTransaction",
            //dataType: "JSON",
            async: true,
            data: JSON.stringify(Inputdata),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#loader').hide();
                $('#partial').html(result);

            },
            error: function (x, e) {
                $('#loader').hide();
                $('#partial').hide();
            }

        });
    }

    function findAndReplace(string, target, replacement) {
        var i = 0, length = string.length;
        for (i; i < length; i++) {
            string = string.replace(target, replacement);
        }
        return string;

    }
</script>
<script>
    $(document).ready(function () {
        $("#hfAPIPath").val(JSON.parse('@Html.Raw(Json.Encode(ViewData["apiPath"]))'));
        jQuery('#StartDate').datetimepicker({
            format: 'm/d/Y H:i',

        });

        jQuery('#EndDate').datetimepicker({
            format: 'm/d/Y H:i',

        });

        var d = new Date();

        dd = d.getDate();

        dd = dd > 9 ? dd : '0' + dd;

        mm = (d.getMonth() + 1);


        mm = mm > 9 ? mm : '0' + mm;


        yy = d.getFullYear();

        $("#StartDate").val(mm + '/' + dd + '/' + yy + " 00:01");
        $("#EndDate").val(mm + '/' + dd + '/' + yy + " 23:59");
    });
</script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" />
<script src="~/js/jquery.datetimepicker.full.min.js"></script>
