@using System.Data
@model DataTable
<div class="row">
    <div style="background:#fff">
        <div class="col-sm-12">
            <label class="col-sm-2">Transaction Id:</label>
            <label class="col-sm-1">@ViewBag.TransactionId</label>
            <label class="col-sm-2">Transaction Time:</label>
            <label class="col-sm-3">@ViewBag.TransactionTime</label>
            <label class="col-sm-2">CrossTalk VRN:</label>
            <label class="col-sm-2">@ViewBag.CrossTalkVRN</label>
            <input type="hidden" id="hdnTransactionId" value="@ViewBag.TransactionId" />
        </div>
        <div class="col-sm-12">
            <label class="col-sm-1">IKE Class:</label>
            <label class="col-sm-1">@ViewBag.Class</label>
            <label class="col-sm-1">ANPR Front:</label>
            <div class="col-sm-3">
                <div class="col-sm-10">
                    @if (ViewBag.NFFront != "")
                    {
                        string path = ViewData["apiPath"] + ViewBag.NFFront;
                        string path1 = path.Replace('/', '^');
                        <span onclick="openimage(this);" path="@path1">
                            @*<i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i>*@
                            <img src="@path" height="40" width="100" />
                        </span>
                    }
                </div>
                <div class="col-sm-2">
                    @if (ViewBag.NFFrontVideo != "")
                    {
                        string path = ViewBag.NFFrontVideo;
                        path = path.Replace('/', '^');
                        <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                    }
                </div>

            </div>
            <label class="col-sm-1">ANPR Rear:</label>
            <div class="col-sm-3">
                <div class="col-sm-10">
                    @if (ViewBag.NFRear != "")
                    {
                        string path = ViewData["apiPath"] + ViewBag.NFRear;
                        string path1 = path.Replace('/', '^');
                        <span onclick="openimage(this);" path="@path1">
                            @*<i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i>*@
                            <img src="@path" height="40" width="100" />
                        </span>
                    }
                </div>
                <div class="col-sm-2">
                    @if (ViewBag.NFRearVideo != "")
                    {

                        string path = ViewBag.NFRearVideo;
                        path = path.Replace('/', '^');
                        <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                    }
                </div>


            </div>

        </div>
    </div>
</div>
<div class="col-xs-12 well boxshadow">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin:.1%">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 table-responsive">
                    <table id="tableTransaction" class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:60px">
                                    Select
                                    @*Transactions*@
                                </th>
                                <th style="width:60px">
                                    Tran Id
                                </th>
                                <th style="width:120px">
                                    Tran Time
                                </th>
                                @*<th style="width:60px">
                                    Lane Id
                                </th>
                                <th style="width:60px">
                                    Gantry Id
                                </th>*@
                                <th style="width:60px">
                                    IKE VRN
                                </th>
                                <th style="width:60px">
                                    IKE Class
                                </th>
                                <th style="width:120px">
                                    <div class="col-sm-12">
                                        <div style="text-align:center;">
                                            ANPR Front
                                        </div>
                                        <div class="col-sm-10">
                                            Image
                                        </div>
                                        <div class="col-sm-2">
                                            Video
                                        </div>
                                    </div>
                                </th>
                                <th style="width:120px">
                                    <div class="col-sm-12">
                                        <div style="text-align:center;">
                                            ANPR Rear
                                        </div>
                                        <div class="col-sm-10">
                                            Image
                                        </div>
                                        <div class="col-sm-2">
                                            Video
                                        </div>
                                    </div>
                                </th>
                                <th style="width:60px">
                                    Speed
                                </th>
                                <th>
                                    Audited
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="checkBox"
                                               value="@item["TRANSACTION_ID"].ToString()" />
                                    </td>
                                    <td>
                                        @item["TRANSACTION_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["TRANSACTION_DATETIME"].ToString()
                                    </td>
                                    @*<td>
                                        @item["LANE_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["PLAZA_ID"].ToString()
                                    </td>*@
                                    <td>
                                        @item["CTP_VRN"].ToString()
                                    </td>
                                    <td>
                                        @item["CTP_VEHICLE_CLASS_NAME"].ToString()
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <div class="col-sm-10">
                                                @if (item["FRONT_IMAGE"].ToString() != "")
                                                {
                                                    string path = ViewData["apiPath"] + item["FRONT_IMAGE"].ToString();
                                                    string path1 = path.Replace('/', '^');
                                                    <span onclick="openimage(this);" path="@path1">
                                                        @*<i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i>*@
                                                        <img src="@path" height="40" width="100" />
                                                    </span>

                                                }
                                                else {
                                                    @item["FRONT_VRN"].ToString()

                                                }
                                            </div>
                                            <div class="col-sm-2">
                                                @if (item["FRONT_VIDEO_URL"].ToString() != "")
                                                {
                                                    string path = item["FRONT_VIDEO_URL"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                                }
                                               
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <div class="col-sm-10">
                                                @if (item["REAR_IMAGE"].ToString() != "")
                                                {
                                                    string path = ViewData["apiPath"] + item["REAR_IMAGE"].ToString();
                                                    string path1 = path.Replace('/', '^');
                                                    <span onclick="openimage(this);" path="@path1">
                                                        @*<i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i>*@
                                                        <img src="@path" height="40" width="100" />
                                                    </span>
                                                }
                                                else {
                                                    @item["REAR_VRN"].ToString()

                                                }
                                            </div>
                                            <div class="col-sm-2">
                                                @if (item["REAR_VIDEO_URL"].ToString() != "")
                                                {
                                                    string path = item["REAR_VIDEO_URL"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item["VEHICLESPEED"].ToString() Km/h
                                    </td>
                                    <td>
                                        @(item["AUDIT_STATUS"].ToString() == "1" ? "Yes" : "No")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-2">VRN:</label>
                    <input type="text" id="txtVrn" class="col-sm-2 input-sm" placeholder="Enter VRN" />
                    <button id="btnSearch" onclick="SearchVRN();" class="btn btn-primary">Search</button>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-2">VRN:</label>
                    <input type="text" id="txtfinalVrn" placeholder="Auditor VRN" class="col-sm-2 input-sm" />
                    <label class="col-sm-2">Vehicle Class:</label>
                    @Html.DropDownList("ddlAuditedVehicleClass", (IEnumerable<SelectListItem>)ViewBag.AuditorVehicleClass, new { @class = "col-sm-2 input-sm" })
                    <button id="btnSearch" onclick="JoinCharge();" class="btn btn-primary">Join&Charge</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function SearchVRN() {
        $('#loader').show();
        var InputData = {
            VehRegNo: $("#txtVrn").val()
        }
        $.ajax({
            type: "GET",
            url: "SearchVRN",
            dataType: "JSON",
            async: true,
            //data: JSON.stringify(InputData),
            data: { VehRegNo: $("#txtVrn").val() },
            contentType: "application/json; charset=utf-8",
            success: function (JsonfilterData) {
                $('#loader').hide();
                ResponceData = JsonfilterData;
                alert(ResponceData.Data);

            },
            error: function (x, e) {
                $('#loader').hide();
            }

        });
    }
    function JoinCharge() {
        if ($("#txtfinalVrn").val() == '') {
            alert('Please Enter Audited VRN');
            return false;
        }
        if ($("#ddlAuditedVehicleClass").val() < 1) {
            alert('Please Select Audited Vehicle Class');
            return false;
        }
        var selectedIDs = new Array();
        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        if (selectedIDs.length > 2) {
            alert('You cannot join more than two trancation.');
            return false;
        }

        var InputData = {
            AssociatedTransactionIds: selectedIDs, TransactionId: $('#hdnTransactionId').val(),
            VehRegNo: $('#txtfinalVrn').val(),
            vehicleClassID: $('#ddlAuditedVehicleClass').val()
        }
        $('#loader').show();
        $.ajax({
            type: "POST",
            url: "JoinTransactionsNew",
            dataType: "JSON",
            async: true,
            data: JSON.stringify(InputData),

            contentType: "application/json; charset=utf-8",
            success: function (JsonfilterData) {
                $('#loader').hide();
                ResponceData = JsonfilterData;
                alert(ResponceData.Data);

            },
            error: function (x, e) {
                $('#loader').hide();
            }

        });
    }
</script>