@using System.Data
@model DataTable
<div class="col-xs-12 well boxshadow">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin:.1%">
        <div class="form-horizontal">
            <div class="form-group col-lg-12" style="margin:0%">
                <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px">
                    <hr style="margin-left: 0;width:90%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px;width:5%">
                    <label style="padding-top:10px" class="form-label">Result</label>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10" style="padding-left:1px;padding-right:1px;width:85%">
                    <hr style="margin-left: 0;  text-align: left;width: 100%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 table-responsive">
                    <table id="tableTransaction" class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width:40px">
                                    Tran Id
                                </th>
                                <th style="width:120px">
                                    Tran Time
                                </th>
                                <th style="width:60px">
                                    Lane Id
                                </th>
                                <th style="width:60px">
                                    Gantry Id
                                </th>
                                <th style="width:60px">
                                    IKE VRN
                                </th>
                                <th style="width:60px">
                                    IKE Class
                                </th>
                                <th style="width:120px">
                                    <div class="col-sm-12">
                                        <div style="text-align:center;">
                                            ANPR Front
                                        </div>
                                        <div class="col-sm-6">
                                            Image
                                        </div>
                                        <div class="col-sm-6">
                                            Video
                                        </div>
                                    </div>
                                </th>
                                <th style="width:120px">
                                    <div class="col-sm-12">
                                        <div style="text-align:center;">
                                            ANPR Rear
                                        </div>
                                        <div class="col-sm-6">
                                            Image
                                        </div>
                                        <div class="col-sm-6">
                                            Video
                                        </div>
                                    </div>
                                </th>
                                <th style="width:60px">
                                   Speed
                                </th>
                                <th style="width:60px">
                                    Check Associated Transactions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
            {
                                <tr>
                                    <td>
                                        @item["TRANSACTION_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["TRANSACTION_DATETIME"].ToString()
                                    </td>
                                    <td>
                                        @item["LANE_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["PLAZA_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["CTP_VRN"].ToString()
                                    </td>
                                    <td>
                                        @item["CTP_VEHICLE_CLASS_NAME"].ToString()
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                @if (item["FRONT_IMAGE"].ToString() != "")
                                                {
                                                    string path = ViewData["apiPath"] + item["FRONT_IMAGE"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openimage(this);" class="edit" path="@path"><i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i></a>
                                                }
                                            </div>
                                            <div class="col-sm-6">
                                                @if (item["FRONT_VIDEO_URL"].ToString() != "")
                                                {
                                                    string path = item["FRONT_VIDEO_URL"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                @if (item["REAR_IMAGE"].ToString() != "")
                                                {
                                                    string path = ViewData["apiPath"] + item["REAR_IMAGE"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openimage(this);" class="edit" path="@path"><i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 18px;"></i></a>
                                                }
                                            </div>
                                            <div class="col-sm-6">
                                                @if (item["REAR_VIDEO_URL"].ToString() != "")
                                                {
                                                    string path = item["REAR_VIDEO_URL"].ToString();
                                                    path = path.Replace('/', '^');
                                                    <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i></a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item["VEHICLESPEED"].ToString() Km/h
                                    </td>
                                    <td>
                                        <a onclick="CheckAssociated(this);" id="TransactionTime_@item["TRANSACTION_ID"].ToString()" class="edit" data-id="@item["TRANSACTION_ID"].ToString()"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="Associatedmodel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Associated transactions</h4>
            </div>
            <div class="modal-body" style="padding:0px">
                <input type="hidden" id="hdnTransactionId" value="0" />
                <div id="partialassociated">

                </div>
            </div>

        </div>
    </div>
</div>
<div id="loader" class="loader">
    <img class="svg fa-2x fa-spin loader-spin" src="~/Images/spinner-circle.svg" />
</div>
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableTransaction').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
    });
    function CheckAssociated(DataValue) {
        var dataid = $(DataValue).attr("data-id");
        $('#hdnTransactionId').val(dataid);
        var route = '/MRM/AssociatedTransaction?transactionId=' + dataid;
        $('#partialassociated').load(route);
        $('#Associatedmodel').modal('show');
    }
    function HideModal() {
        $('#Associatedmodel').modal('hide');
    }

</script>
