@using System.Data
@model DataTable
<div class="col-xs-12 well boxshadow">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin:.1%">
        <div class="form-horizontal">
            <div class="form-group col-lg-12" style="margin:0%">
                <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px">
                    <hr style="margin-left: 0;width:90%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1" style="padding-left:1px;padding-right:1px;width:5%">
                    <label style="padding-top:10px" class="form-label">Result</label>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10" style="padding-left:1px;padding-right:1px;width:85%">
                    <hr style="margin-left: 0;  text-align: left;width: 100%;border-top: 1px solid #8c8b8b;border-bottom: 1px solid #fff">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <table id="tableTransaction" class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tran Id
                                </th>
                                <th>
                                    Tran Time
                                </th>
                                <th>
                                    Lane Id
                                </th>
                                <th>
                                    Gantry Id
                                </th>
                                <th>
                                    IKE VRN
                                </th>
                                <th>
                                    IKE Class
                                </th>
                                <th>
                                    ANPR FRONT VRN Image
                                </th>
                                <th>
                                    ANPR FRONT VRN Video
                                </th>
                                <th>
                                    ANPR REAR VRN Image
                                </th>
                                <th>
                                    ANPR REAR VRN Video
                                </th>
                                <th>
                                    Check Associated Transactions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item["TRANSACTION_ID"])
                                    </td>
                                    <td>
                                        @item["TRANSACTION_DATETIME"].ToString()
                                    </td>
                                    <td>
                                        @item["LANE_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["PLAZA_ID"].ToString()
                                    </td>
                                    <td>
                                        @item["CTP_VRN"].ToString()
                                    </td>
                                    <td>
                                        @item["CTP_VEHICLE_CLASS_NAME"].ToString()
                                    </td>
                                    <td>
                                        @if (item["FRONT_IMAGE"].ToString() != "")
                                        {
                                            string path = ViewData["apiPath"] + item["FRONT_IMAGE"].ToString();
                                            <img src="@path" />
                                        }
                                        else
                                        {
                                            <label>No Image Captured</label>
                                        }
                                    </td>
                                    <td>
                                        @if (item["FRONT_VIDEO_URL"].ToString() != "")
                                        {
                                            string path = item["FRONT_VIDEO_URL"].ToString();

                                            <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view"></i></a>
                                        }
                                        else
                                        {
                                            <label>No Video Found</label>
                                        }

                                    </td>
                                    <td>
                                        @if (item["REAR_IMAGE"].ToString() != "")
                                        {
                                            string path = ViewData["apiPath"] + item["REAR_IMAGE"].ToString();
                                            <img src="@path" />
                                        }
                                        else
                                        {
                                            <label>No Image Captured</label>
                                        }

                                    </td>
                                    <td>
                                        @if (item["REAR_VIDEO_URL"].ToString() != "")
                                        {
                                            string path = item["REAR_VIDEO_URL"].ToString();
                                            @*<i class="fa fa-video" onclick="openVideo(this)" path="@path"></i>*@
                                            <a onclick="openVideo(this);" class="edit" path="@path"><i class="fa fa-file-video-o" aria-hidden="true" title="click to view"></i></a>
                                        }
                                        else
                                        {
                                            <label>No Video Found</label>
                                        }

                                    </td>
                                    <td>
                                        <a onclick="CheckAssociated(this);" id="TransactionTime_@item["TRANSACTION_ID"].ToString()" class="edit" data-id="@item["TRANSACTION_ID"].ToString()"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i></a>
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item["TRANSACTION_DATETIME"])
                                        </td>
                                        <td>
                                            @(item.Direction == 1 ? "Up" : "Down")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IPAddress)
                                        </td>
                                        <td style="@ViewBag.Visibility">
                                            <a class="edit" href="@Url.Action("EditEcb", "Home", new {id=item.EcbId })"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i></a>
                                            <a onclick="AddEcbFacility(this);" id="EcbID_@item.EcbId" data-id="@item.EcbId" style="cursor:pointer">Facilities</a>
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="Associatedmodel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Associated transactions</h4>
            </div>
            <div class="modal-body" style="padding:0px">
                <input type="hidden" id="hdnTransactionId" value="0" />
                <div id="partialassociated">

                </div>
            </div>
            @*<div class="modal-footer">

                    <button type="button" id="btnHideModal" onclick="HideModal()" class="btn btn-primary button button4">
                        Close
                    </button>
                </div>*@
        </div>
    </div>
</div>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableTransaction').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
    });
    function CheckAssociated(DataValue) {
        var dataid = $(DataValue).attr("data-id");
        $('#hdnTransactionId').val(dataid);
        var route = '/MRM/AssociatedTransaction?transactionId=' + dataid;
        $('#partialassociated').load(route);
        $('#Associatedmodel').modal('show');
    }
    function HideModal() {
        $('#Associatedmodel').modal('hide');
    }

</script>
