<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <script src="~/assets/jqueryslims/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="~/assets/jqueryslims/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/assets/jqueryslims/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <link href="~/assets/admin/style.css" rel="stylesheet">
    <link href="~/assets/custom/custom.css" rel="stylesheet">
    <link href="~/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/imageviewer.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/assets/bootstrap/jquery.min.js"></script>
    <script src="~/Scripts/imageviewer.min.js"></script>
    <script src="~/assets/bootstrap/popper.min.js"></script>
    <script src="~/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>


</head>
<body class="app" style="overflow:hidden">
    <div id='loader'>
        <div class="spinner"></div>
    </div>
   
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>
    <div>
        <!-- #Left Sidebar ==================== -->
        <div class="sidebar">
            <div class="sidebar-inner">
                <!-- ### $Sidebar Header ### -->
                <div class="sidebar-logo">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer peer-greed">
                            <a class="sidebar-link td-n" href="index.html">
                                <div class="peers ai-c fxw-nw">
                                    <div class="peer">
                                        <div class="logo" style="width:70px; height:64px;">
                                            <img src="~/assets/static/images/SMlogo.png" alt="" style="width: 69px;">
                                        </div>
                                    </div>
                                    <div class="peer peer-greed">
                                        <h5 class="lh-1 mB-0 logo-text">@Session["RoleName"]</h5>
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle">
                                <a href="" class="td-n">
                                    <i class="ti-angle-double-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ### $Sidebar Menu ### -->
                <ul class="sidebar-menu scrollable pos-r">
                    @Html.Raw(ViewBag.MainMenu)
                </ul>
            </div>
        </div>

        <!-- #Main ============================ -->
        <div class="page-container">
            <!-- ### $Topbar ### -->
            <div class="header navbar">
                <div class="header-container">
                    <ul class="nav-left">
                        <li>
                            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                                <i class="ti-menu c-mygrey"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="dropdown">

                            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                                <div class="peer mR-10">
                                    <span class='icon-holder'>
                                        <i class='c-blue-500 ti-user'></i>
                                    </span>
                                </div>
                                <div class="peer">
                                    <span class="fsz-sm c-mygrey-900">@Session["UserName"]</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu fsz-sm">

                                @*<li>
                                        <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" href='javascript:void(0);' onclick="ChnagePasswordOpen();">
                                            <i class="ti-settings mR-10"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>*@
                                @*<li>
                                        <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                            <i class="ti-user mR-10"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>*@
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Login/Logout" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                        <i class="ti-power-off mR-10"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- ### $App Screen Content ### -->
            <main class='main-content bgc-grey-100'>
                <div id='mainContent'>
                    @RenderBody()
                </div>
            </main>

            <!-- ### $App Screen Footer ### -->
            <footer class="bdT ta-c p-10 lh-0 fsz-sm c-grey-600">
                <span>Copyright &copy VaaaN Infra @DateTime.Now.Year</span>
            </footer>
        </div>
    </div>
    @*<div class="lds-ripple">
        <div></div>
        <div></div>
    </div>*@
    <div class="animationload">
        <div class="osahanloading"></div>
    </div>

    <div class="modal fade bd-example-modal-sm imgmodal" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:403px">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnpopupClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <img class="modal-content" id="img01" style="border:none;">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="VideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:403px">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnpopupClose"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="text-align:center">
                    <div id="video">
                        <video width="450" height="250" controls>
                            <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="customerHistoryModal" tabindex="-1" role="dialog" aria-labelledby="HistoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8" style="text-align: center;">
                                <h5 class="modal-title" id="HistoryModalLabel">Register Customer</h5>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partialHistory">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnpopupClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="password_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <h5 class="modal-title">Chnage Password</h5>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <div class="panel-body">
                                        <fieldset>
                                            <div class="form-group">
                                                <input class="form-control required input-lg" data-val="true" data-val-required="The current password is required." placeholder="Current Password" name="CurrentPassword" type="password" id="CurrentPassword">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="CurrentPassword" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control required input-lg" data-val="true" data-val-required="The new password is required." placeholder="New Password" name="NewPassword" type="password" id="NewPassword">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                                            </div>
                                            <input type="button" class="btn btn-lg btn-outline-primary btn-block" onclick="ChnagePassword()" value="Update Password" />
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnpopupClose">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="SetUp" tabindex="-1" role="dialog" aria-labelledby="SetUpLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8" style="text-align: center;">
                                <h5 class="modal-title" id="SetUpLabel">Register Customer</h5>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partialModel">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/admin/vendor.js"></script>
    <script type="text/javascript" src="~/assets/admin/bundle.js"></script>
    <script src="~/js/Common.js"></script>

</body>
</html>
