@model VaaaN.MLFF.Libraries.CommonLibrary.CBE.DistrictCBE
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("District", "SetUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<input type="hidden" id="hfHardwarePosition" value="@ViewBag.hfHardwarePosition" />
    <input type="hidden" id="hfHardwareType" value="@ViewBag.hfHardwareType" />*@
    <fieldset id="fildset">
        <div class="modal-body" style="height:400px; overflow-y:scroll;">
            <h5 class="c-mygrey-900 heading"><strong>Kecamatan </strong>Information<span></span></h5>
            <div class="mT-5">
                <div class="form-row">
                    <div class="form-group col-md-2 ">
                        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="form-group  col-md-4">
                        @Html.EditorFor(model => model.DistrictId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtUserId" class="form-label">Province</label>
                    </div>
                    <div class="form-group  col-md-4">
                        @Html.DropDownList("ProvinceId", (IEnumerable<SelectListItem>)ViewBag.Province, new { @class = "form-control required select", onchange = "GetCityList();" })
                        @*@Html.ValidationMessageFor(model => model.ProvinceId, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-row">
                    <div class="form-group col-md-2 required">
                        @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="form-group  col-md-4">
                        <select id="CityId" name="CityId" class="form-control" >
                            <option value="0"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 required">
                        @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="form-group  col-md-4">
                        @Html.EditorFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
               
            </div>
        </div>
    </fieldset>
}
<div class="modal-footer">
    <div class="alert alert-warning" role="alert" id="warning">
    </div>
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="btnClose">Close</button>
    <button type="button" class="btn btn-outline-danger" id="btnCancel" onclick="ResetFildes();">Cancel</button>
    <button type="button" class="btn btn-outline-primary" onclick="SaveDistrictData('close')" id="btnSave">Save</button>
</div>

