@model VaaaN.MLFF.Libraries.CommonLibrary.CBE.LaneCBE
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="hfUserId" value="@ViewBag.UserId" />
            <input type="hidden" id="hfPlazaId" value="@ViewBag.PlazaId" />
            <input type="hidden" id="hfLaneTypeId" value="@ViewBag.LaneTypeId" />
            <input type="hidden" id="hfCameraIdFront" value="@ViewBag.CameraIdFront" />
            <input type="hidden" id="hfCameraIdRear" value="@ViewBag.CameraIdRear" />
            <input type="hidden" id="hfEtcReaderId" value="@ViewBag.EtcReaderId" />

            @using (Html.BeginForm("LaneEdit", "SetUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.LaneId)
                <div class="row">
                    <form role="form">
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="PlazaId" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.Gantry</label>
                            @Html.DropDownList("PlazaId", (IEnumerable<SelectListItem>)ViewBag.Gantry, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="LaneName" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.LaneName</label>
                            @Html.EditorFor(model => model.LaneName, new { htmlAttributes = new { @class = "form-control", placeholder = "Lajur Name" } })
                        </div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="LaneTypeId" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.LaneType</label>
                            @Html.DropDownList("LaneTypeId", (IEnumerable<SelectListItem>)ViewBag.LaneType, new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="CameraIdFront" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.CameraNameFront</label>
                            @Html.DropDownList("CameraIdFront", (IEnumerable<SelectListItem>)ViewBag.ANPR, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="CameraIdRear" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.CameraNameRear</label>
                            @Html.DropDownList("CameraIdRear", (IEnumerable<SelectListItem>)ViewBag.ANPR, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <label for="EtcReaderId" class="form-label required">@VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.ETCReaderName</label>
                            @Html.DropDownList("EtcReaderId", (IEnumerable<SelectListItem>)ViewBag.RFID, new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4" style="float:right">
                            <span id="lblErrors" style="color:red;"></span>

                            @if (TempData["Message"] != null && TempData["Message"].ToString() != "")
                            {
                                <span style="color:red;">@TempData["Message"]!</span>
                            }
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            }
        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="alert alert-warning" role="alert" id="warning">
    </div>
    <button type="button" class="btn btn-outline-danger" id="btnCancel" onclick="ResetFieldes();">Cancel</button>
    <button type="button" class="btn btn-outline-primary" onclick="SaveLaneData('close')" id="btnSave">Save</button>
</div>

