@model VaaaN.MLFF.Libraries.CommonLibrary.CBE.PlazaCBE
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("GetGantry", "SetUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <fieldset id="fildset">
                    <div class="modal-body" style="height:400px; overflow-y:scroll;">
                        <h5 class="c-mygrey-900 heading"><strong>Gantry </strong>Information<span></span></h5>
                        <div class="mT-5">
                            <div class="form-row">
                                <div class="form-group col-md-2 required">
                                    @*@Html.LabelFor(model => model.PlazaId, htmlAttributes: new { @class = "control-label" })*@
                                    <label for="lblPlazaId" class="form-label">Gantry ID</label>
                                </div>
                                <div class="form-group col-md-4 required">
                                    @Html.EditorFor(model => model.PlazaId, new { htmlAttributes = new { @class = "form-control", } })
                                </div>
                                <div class="form-group col-md-2 required">
                                    @Html.LabelFor(model => model.PlazaName, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-group col-md-4 required">
                                    @Html.EditorFor(model => model.PlazaName, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.PlazaName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group  col-md-2">
                                    <label for="Location" class="form-label required">Gantry @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.Location</label>
                                </div>
                                <div class="form-group  col-md-4">
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", } })
                                </div>
                                <div class="form-group  col-md-2 required">
                                    @Html.LabelFor(model => model.IpAddress, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-group  col-md-4 required">
                                    @Html.EditorFor(model => model.IpAddress, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.IpAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-2 required">
                                    @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label Required" })
                                </div>
                                <div class="form-group col-md-4 required">
                                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control ", onkeypress = "javascript:return isNumber(event)", } })
                                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                                 </div>
                                <div class="form-group col-md-2 required">
                                    @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label Required" })
                                </div>
                                <div class="form-group col-md-4 required">
                                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", onkeypress = "javascript:return isNumber(event)", } })
                                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                                 </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
            }

            </div>
        </div>
    </div>
            <div class="modal-footer">
                <div class="alert alert-warning" role="alert" id="warning">
                </div>
                <button type="button" class="btn btn-outline-danger" id="btnClose" data-dismiss="modal">Cancel</button>
                @*<button type="button" class="btn btn-outline-danger" id="btnCancel" onclick="ResetFieldes();">Cancel</button>*@
                <button type="button" class="btn btn-outline-primary" onclick="SaveGantryData('close')" id="btnSave">Save</button>
            </div>

