@model IEnumerable<VaaaN.MLFF.Libraries.CommonLibrary.CBE.CustomerAccountCBE>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    function GetVehicleDetails(id) {
        $('#loader').show();
        $("#filtertab").show();
        GetVehicleRechargeHistory(id);
        $.ajax({
            type: "POST",
            url: "CustomerVehicleListbyCustomer?id="+id,
            async: true,
           
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#loader').hide();
                $('#CustmerVehicle').html(result);

            },
            error: function (x, e) {
                $('#loader').hide();
                $('#CustmerVehicle').hide();
            }

        });
       
    }

    function GetVehicleRechargeHistory(id) {
        $('#loader').show();
        $("#filtertab").show();
        $.ajax({
            type: "POST",
            url: "RechargeHistorybyCustomer?id="+id,
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $('#loader').hide();
                $('#RechargeHistory').html(result);

            },
            error: function (x, e) {
                $('#loader').hide();
                $('#RechargeHistory').hide();
            }

        });
       
    }

    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
    });
</script>


<div style="height:5px"></div>
@{ int rowNo = 0; }
<table id="tableCustomer" class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 60px;">
                No.
            </th>
            <th style="width: 60px;">
                Name
            </th>

            <th style="width: 60px;">
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th style="width: 60px;">
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th style="width: 60px;">
                Balance
            </th>
            @*<th>
                Account Status
            </th>*@
            <th>
                Vehicle Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @(rowNo += 1)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName
                   )
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AccountStatus)
                </td>*@
                <td>
                    <a class="edit" onclick="GetVehicleDetails(@item.AccountId)">
                        <i class="fa fa-info-circle" style="@ViewBag.Visibility" aria-hidden="true" title="Customer Vehicle"></i>
                    </a>

                </td>
            </tr>

        }
    </tbody>
</table>


