@using System.Data
@model DataTable

@{
    ViewBag.Title = "Customer Vehicle List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<script src="~/js/CustomerVehicle.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableCustomerVehicle').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
    });
</script>


<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        @{ int rowNo = 0; }
       
        <div class="panel-title new-title">
            Customer Vehicle List
        </div>

    </div>
    <table id="tableCustomerVehicle" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th style="width:20px">
                    S.No.
                </th>

                <th style="width:60px">
                    Mobile No
                </th>
                <th style="width:40px">
                    Plate No
                </th>
                <th style="width:100px">
                    EPC No
                </th>
                <th style="width:40px">
                    Classification
                </th>
                <th style="width:40px">
                    Valid Until
                </th>
                <th style="width:40px; text-align:left;">
                    Balance
                </th>
                <th style="width:40px">
                    Status
                </th>
                <th style="width:20px">
                    Recharge
                </th>
                <th style="width:20px">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow item in Model.Rows)
            {
                var token = "";
                if (Convert.ToInt32(@item["ACCOUNT_ID"].ToString()) > 0)
                {
                    token = VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.generateUrlToken("POS", "CustomerVehicleEdit", Convert.ToString(@item["ENTRY_ID"]), VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.urlProtectPassword);
                }
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @item["MOB_NUMBER"].ToString()
                    </td>
                    <td>
                        @item["VEH_REG_NO"].ToString()
                    </td>
                    <td>
                        @item["TAG_ID"].ToString()
                    </td>
                    <td>
                        @item["VEHICLE_CLASS_NAME"].ToString()
                    </td>
                    <td>
                        @if (@item["VALID_UNTIL"].ToString() != "")
                        {
                            @Convert.ToDateTime(@item["VALID_UNTIL"]).ToString("dd-MMM-yyyy")
                        }
                    </td>
                    <td style="text-align:right;">
                        @Decimal.Parse(@item["ACCOUNT_BALANCE"].ToString()).ToString("C").Replace("$","Rp").Replace(",", ".")
                    </td>
                    <td>
                        @item["QUEUE_STATUS_NAME"].ToString()
                    </td>
                    <td>
                        <span class="edit" onclick="rechareData(this)">
                            <i class="fa fa-money" style="@ViewBag.Visibility" aria-hidden="true" title="Top Up"></i>
                        </span>

                    </td>
                    <td>
                        <a class="edit" href="@Url.Action("CustomerVehicleEdit", "POS", new { id = @item["ENTRY_ID"], urltoken = token })">
                            <i class="fa fa-pencil-square-o" style="@ViewBag.Visibility" aria-hidden="true" title="Edit"></i>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <p style="padding-top:15px;">
        <a href="~/POS/CustomerVehicleAdd" class="btn btn-primary"><i class="fa fa-plus-circle"></i><span> New Customer Vehicle</span></a>
    </p>
</div>
<div class="modal fade" tabindex="-1" id="RechargeData"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #fefefe;margin: 15% auto;padding: 20px; border: 1px solid #888;width: 450px; ">
            <div class="modal-header" style="background-color:rgb(64, 178, 205);">
                <button type="button" class="close" data-dismiss="modal" id="closepopup">
                    ×
                </button>
                <h4 class="modal-title">TOP-UP</h4>
            </div>
            <div class="modal-body" style="padding:5px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtVrnNo" class="form-label">Vehicle Registration Number</label>
                            <input class="form-control " value="" id="txtVrnNo" readonly/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtMobileNo" class="form-label">Mobile No</label>
                            <input class="form-control " value="" id="txtMobileNo" readonly/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtAmount" class="form-label">Top UP Amount</label>
                            <input class="form-control " value="100000" id="txtAmount" type="number"/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span id="lblErrors" style="color:red;float:right"></span>
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-primary" onclick="return RechargeAmount();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>