@using System.Data
@model DataTable

@{
    ViewBag.Title = "Customer Vehicle List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $(document).ready(function () {
        $('#tableCustomerVehicle').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
    });
</script>


<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        @{ int rowNo = 0; }
       
        <div class="panel-title new-title">
            Customer Vehicle List
        </div>

    </div>
    <table id="tableCustomerVehicle" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th style="width:20px">
                    S.No.
                </th>

                <th style="width:60px">
                    Mobile No
                </th>
                <th style="width:40px">
                    Plate No
                </th>
                <th style="width:100px">
                    EPC No
                </th>
                <th style="width:40px">
                    Classification
                </th>
                <th style="width:40px">
                    Valid Until
                </th>
                <th style="width:40px; text-align:left;">
                    Balance
                </th>
                <th style="width:40px">
                    Status
                </th>
                <th style="width:20px">
                    Recharge
                </th>
                <th style="width:20px">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow item in Model.Rows)
            {
                var token = "";
                if (Convert.ToInt32(@item["ACCOUNT_ID"].ToString()) > 0)
                {
                    token = VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.generateUrlToken("POS", "CustomerVehicleEdit", Convert.ToString(@item["ENTRY_ID"]), VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.urlProtectPassword);
                }
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @item["MOB_NUMBER"].ToString()
                    </td>
                    <td>
                        @item["VEH_REG_NO"].ToString()
                    </td>
                    <td>
                        @item["TAG_ID"].ToString()
                    </td>
                    <td>
                        @item["VEHICLE_CLASS_NAME"].ToString()
                    </td>
                    <td>
                        @if (@item["VALID_UNTIL"].ToString() != "")
                        {
                            @Convert.ToDateTime(@item["VALID_UNTIL"]).ToString("dd-MMM-yyyy")
                        }
                    </td>
                    <td style="text-align:right;">
                        @Decimal.Parse(@item["ACCOUNT_BALANCE"].ToString()).ToString("C").Replace("$","Rp")
                    </td>
                    <td>
                        @item["QUEUE_STATUS_NAME"].ToString()
                    </td>
                    <td>
                        <a class="edit" href="@Url.Action("CustomerVehicleEdit", "POS", new { id = @item["ENTRY_ID"], urltoken = token })">
                            <i class="fa fa-money" style="@ViewBag.Visibility" aria-hidden="true" title="Top Up"></i>
                        </a>

                    </td>
                    <td>
                        <a class="edit" href="@Url.Action("CustomerVehicleEdit", "POS", new { id = @item["ENTRY_ID"], urltoken = token })">
                            <i class="fa fa-pencil-square-o" style="@ViewBag.Visibility" aria-hidden="true" title="Edit"></i>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <p style="padding-top:15px;">
        <a href="~/POS/CustomerVehicleAdd" class="btn btn-primary"><i class="fa fa-plus-circle"></i><span> New Customer Vehicle</span></a>
    </p>
</div>
