@model IEnumerable<VaaaN.MLFF.Libraries.CommonLibrary.CBE.CustomerVehicleCBE>

@{
    ViewBag.Title = "Customer Vehicle List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $(document).ready(function () {
        $('#tableCustomerVehicle').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
        $('#module_2').css({ "background-color": "#00B4CE" });
        $('#module_2').css({ "font-weight": "bold" });
        $('#submodule_9').css({ "background-color": "#00B2aa" });
        $('#submodule_9').css({ "font-weight": "bold" });
    });
</script>


<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        @{ int rowNo = 0; }
        <div class="panel-title new-title">
            Customer Vehicle List
        </div>

    </div>
    <table id="tableCustomerVehicle" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehRegNo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TagId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleClassName)
                </th>
              
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var token = "";
                if (item.AccountId > 0)
                {
                    token = VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.generateUrlToken("Home", "CustomerVehicleEdit", Convert.ToString(item.EntryId), VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.urlProtectPassword);
                }
                <tr>
                    <td>
                        @(rowNo += 1)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehRegNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TagId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleClassName)
                    </td>
                    <td>
                        <a class="edit" href="@Url.Action("CustomerVehicleEdit", "Home", new { id = item.EntryId, urltoken = token })">
                            <i class="fa fa-pencil-square-o" style="@ViewBag.Visibility" aria-hidden="true" title="Edit"></i>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <p style="padding-top:15px;">
        <a href="~/Home/CustomerVehicleAdd" class="btn btn-primary"><i class="fa fa-plus-circle"></i><span> New Customer Vehicle</span></a>
    </p>
</div>
