@model IEnumerable<VaaaN.MLFF.Libraries.CommonLibrary.CBE.CustomerAccountCBE>

@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

<script type="text/javascript">
    $(document).ready(function () {
        $('#tableCustomer').dataTable({
            "paging": true,
            "ordering": false,
            "info": true,
            "searching": true
        });
        //$('#module_2').css({ "background-color": "#00B4CE" });
        //$('#module_2').css({ "font-weight": "bold" });
        //$('#submodule_8').css({ "background-color": "#00B2aa" });
        //$('#submodule_8').css({ "font-weight": "bold" });
    });
</script>


<div class="panel panel-info">
    <div class="panel-heading " style="background-color:rgb(64, 178, 205);">
        @{ int rowNo = 0; }
        <div class="panel-title new-title">
            Customer List
        </div>

    </div>
    <table id="tableCustomer" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                 @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.Name
                </th>

                <th>
                    @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.MobileNo
                </th>
                <th>
                    @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.EmailId
                </th>
                <th>
                    @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.AccountBalance
                </th>

                <th>  
                    @VaaaN.MLFF.Libraries.CommonLibrary.Resource.Resourceen.Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var token = "";
                if (item.AccountId > 0)
                {
                    token = VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.generateUrlToken("Home", "CustomerEdit", Convert.ToString(item.AccountId), VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.urlProtectPassword);
                }

                var token1 = "";
                if (item.AccountId > 0)
                {
                    token1 = VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.generateUrlToken("Home", "CustomerVehicleListbyCustomer", Convert.ToString(item.AccountId), VaaaN.MLFF.Libraries.CommonLibrary.Common.CommonClass.urlProtectPassword);
                }


                <tr>
                    <td>
                        @(rowNo += 1)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName
                   )
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountBalance)
                    </td>
                    <td>
                        <a class="edit" href="@Url.Action("CustomerEdit", "Home", new { id = item.AccountId, urltoken = token })">
                            <i class="fa fa-pencil-square-o" style="@ViewBag.Visibility" aria-hidden="true" title="Edit"></i></a>
                        <a class="edit" href="@Url.Action("CustomerVehicleListbyCustomer", "Home", new { id = item.AccountId, urltoken = token1 })">
                            <i class="fa fa-info-circle" style="@ViewBag.Visibility" aria-hidden="true" title="Lajur List"></i>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <p style="padding-top:15px;">
        <a href="~/Home/CustomerAdd" class="btn btn-primary"><i class="fa fa-plus-circle"></i><span> New Customer</span></a>

    </p>
</div>
