@using System.Data
@model DataTable
@{ int rowNo = 0; }
<h5 class="c-grey-900 heading"><strong>Reviewing </strong>Transcation<span></span></h5>
<style type="text/css">

</style>
<table id="tblRevivingData" class="table table-striped my-table-bordered" cellspacing="0" style="max-width:1200px;overflow:scroll;">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; " rowspan="2">
                ID
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                Date Time
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                Gantry
            </th>
            <th style="text-align: center; " colspan="2">
                EVI
            </th>
            <th style="text-align: center; " colspan="4">
                ANPR Front
            </th>
            <th style="text-align: center; " colspan="4">
                ANPR Rear
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id" class="no-rt-border">
                Speed
                <br />
                (km/h)
            </th>
        </tr>
        <tr>
            <th style="text-align: center; " data-field="price">
                VRN
            </th>
            <th style="text-align: center; " data-field="operate">
                Class
            </th>
            <th style="text-align: center; " data-field="price">
                VRN
            </th>
            <th style="text-align: center; " data-field="operate">
                Class
            </th>
            <th style="text-align: center; " data-field="price">
                Image
            </th>
            <th style="text-align: center; " data-field="operate">
                Video
            </th>
            <th style="text-align: center; " data-field="price">
                VRN
            </th>
            <th style="text-align: center; " data-field="operate">
                Class
            </th>
            <th style="text-align: center; " data-field="price">
                Image
            </th>
            <th style="text-align: center; " data-field="operate">
                Video
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow item in Model.Rows)
            {
            <tr>
                <td>
                    @item["TRANSACTION_ID"].ToString()
                </td>
                <td>
                    @item["TRANSACTION_DATETIME"].ToString()
                </td>
                <td>
                    @item["PLAZA_NAME"].ToString()
                </td>
                <td>
                    @item["CTP_VRN"].ToString()
                </td>
                <td>@item["CTP_VEHICLE_CLASS_NAME"].ToString()</td>
                <td>
                    @item["FRONT_VRN"].ToString()
                </td>
                <td>
                    @item["NFP_VEHICLE_CLASS_NAME_FRONT"].ToString()
                </td>
                <td style="text-align:center;">
                    @if (item["FRONT_IMAGE"].ToString() != "")
                    {
                        string path = item["FRONT_IMAGE"].ToString();
                        @*@if (!path.Contains("http"))
                            {
                                path = @"\" + path;
                            }*@
                        <img src="@path" height="40" width="60" data-high-res-src="" alt="" class="gallery-items" onclick="zoomImage(this);" />
                    }
                </td>
                <td style="text-align:center;">
                    @if (item["FRONT_VIDEO_URL"].ToString() != "")
                    {
                        string path = item["FRONT_VIDEO_URL"].ToString();
                        <span class='cur-p icon-holder' aria-expanded='false' onclick='openVideo(this);' style='font-size: 18px;' path="@path">
                            <i class='c-blue-500 ti-video-camera'></i>
                        </span>

                    }
                </td>

                <td>
                    @item["REAR_VRN"].ToString()
                </td>
                <td>
                    @item["NFP_VEHICLE_CLASS_NAME_REAR"].ToString()
                </td>
                <td style="text-align:center;">
                    @if (item["REAR_IMAGE"].ToString() != "")
                    {
                        string path = item["REAR_IMAGE"].ToString();
                        bool result = path.Contains("http");


                        < img src = "@path" height = "40" width = "60" data - high - res - src = "" alt = "" class="gallery-items" onclick="zoomImage(this);" />
                    }
                </td>
                <td style="text-align:center;">
                    @if (item["REAR_VIDEO_URL"].ToString() != "")
                    {
                        string path = item["REAR_VIDEO_URL"].ToString();
                        <span class='cur-p icon-holder' aria-expanded='false' onclick='openVideo(this);' style='font-size: 18px;' path="@path">
                            <i class='c-blue-500 ti-video-camera'></i>
                        </span>

                    }
                </td>
                <td>
                    @item["VEHICLESPEED"].ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

<h5 class="c-grey-900 heading"><strong>Associate </strong>Transcation<span></span></h5>
<div id="table-container">
    <div id="ddlTime">
        <div class="form-row col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label" style="left: -7px;position: absolute;">Before & After (Seconds)</label>
            </div>
            <div class="form-group col-md-2">
                <select id="filterSec" name="filterSec" class="form-control" onchange="FilterAssociatedData();"></select>
            </div>
        </div>
    </div>

    <table id="tblAssociatedData" class="table table-striped  my-table-bordered" cellspacing="0" width="100%" style="top:-52px!important">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle; " rowspan="2" id="tblAssociatedDataTR">

                </th>
                <th style="text-align: center; vertical-align: middle; " rowspan="2">
                    ID
                </th>
                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                    Date Time
                </th>
                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                    Gantry
                </th>
                <th style="text-align: center; " colspan="2">
                    EVI
                </th>
                <th style="text-align: center; " colspan="4">
                    ANPR Front
                </th>
                <th style="text-align: center; " colspan="4">
                    ANPR Rear
                </th>
                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id" class="no-rt-border">
                    Speed
                    <br />
                    (km/h)
                </th>
            </tr>
            <tr>
                <th style="text-align: center; " data-field="price">
                    VRN
                </th>
                <th style="text-align: center; " data-field="operate">
                    Class
                </th>
                <th style="text-align: center; " data-field="price">
                    VRN
                </th>
                <th style="text-align: center; " data-field="operate">
                    Class
                </th>
                <th style="text-align: center; " data-field="price">
                    Image
                </th>
                <th style="text-align: center; " data-field="operate">
                    Video
                </th>
                <th style="text-align: center; " data-field="price">
                    VRN
                </th>
                <th style="text-align: center; " data-field="operate">
                    Class
                </th>
                <th style="text-align: center; " data-field="price">
                    Image
                </th>
                <th style="text-align: center; " data-field="operate">
                    Video
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        bindSecond();
        BindAssociatedData(30);

    });
</script>