@model VaaaN.MLFF.Libraries.CommonLibrary.CBE.ViewTransactionCBE
@{
    ViewBag.Title = "Charged Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="mT-10">
                            <h4 class="c-mygrey-900 mB-20">Charged Transaction</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary" href='javascript:void(0);' onclick="reloadChargedData();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-reload'></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary cd-filter-trigger" href='javascript:void(0);' onclick="openFilterpopupCharged();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-filter'></i>
                                        </span>
                                    </a>
                                    <div class="modal fade" id="filterModel" tabindex="-1" role="dialog" aria-labelledby="filterModelLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body filterModel">
                                                    <form id="filterbox">
                                                        <div class="form-group">
                                                            <label for="ddlGantry">Gantry</label>
                                                            @Html.DropDownList("ddlGantry", (IEnumerable<SelectListItem>)ViewBag.Gantry, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="StartDate">Date From</label>
                                                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control form_datetime", @readonly = true } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="EndDate">Date To</label>
                                                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control form_datetime", @readonly = true } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ResidentID">Resident ID</label>
                                                            @Html.EditorFor(model => model.ResidentId, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Name">Name</label>
                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Email</label>
                                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="PlateNumber">VRN</label>
                                                            @Html.EditorFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="VehicleClassId">Class</label>
                                                            @Html.DropDownList("VehicleClassId", (IEnumerable<SelectListItem>)ViewBag.VehicleClass, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ParentTranscationId">Transaction ID</label>
                                                            @Html.EditorFor(model => model.TranscationId, new { htmlAttributes = new { @class = "form-control", onkeypress = "javascript:return isNumber(event)" } })
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" onclick="ResetChargedFilter();" id="btnFilterCancel">Clear</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="FilterChargedData()" id="btnFilterSearch">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tblChargedData" class="table table-striped  my-table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" id="tblChargedDataTR">
                                No
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2">
                                ID
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Date Time
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Gantry
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Lane
                            </th>
                            <th style="text-align: center; " colspan="2">
                                EVI
                            </th>
                            <th style="text-align: center; " colspan="4">
                                ANPR Front
                            </th>
                            <th style="text-align: center; " colspan="4">
                                ANPR Rear
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Name
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Speed
                                <br />
                                (km/h)
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                Amount
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                                SMS Status
                            </th>
                            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id" class="no-rt-border">
                                Source Transaction
                            </th>
                            <th style="text-align: center; display:none; vertical-align: middle; " rowspan="2" data-field="id">
                                Formated Date
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center; " data-field="price">
                                VRN
                            </th>
                            <th style="text-align: center; " data-field="operate">
                                Class
                            </th>
                            <th style="text-align: center; " data-field="price">
                                VRN
                            </th>
                            <th style="text-align: center; " data-field="operate">
                                Class
                            </th>
                            <th style="text-align: center; " data-field="price">
                                Image
                            </th>
                            <th style="text-align: center; " data-field="operate">
                                Video
                            </th>
                            <th style="text-align: center; " data-field="price">
                                VRN
                            </th>
                            <th style="text-align: center; " data-field="operate">
                                Class
                            </th>
                            <th style="text-align: center; " data-field="price">
                                Image
                            </th>
                            <th style="text-align: center; " data-field="operate">
                                Video
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#sidebar-toggle").bind("click", function () {
            $(".animationload").show();
            thId = 'tblChargedDataTR';
            myVar = setInterval("myclick()", 500);
        });
        $(".form_datetime").datetimepicker({
            format: "mm/dd/yyyy  hh:ii",
            autoclose: true,
            todayBtn: true,
            //startDate: "2018-12-06 10:00",
            minuteStep: 1,

        })
        BindDateTime();
        BindChargedFirstLoad();
        bindSecond();
    });
</script>
<script src="~/js/CustomerTranscation.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

