@using System.Data
@model DataTable
@{ int rowNo = 0; }
@{
    ViewBag.Title = "Violation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .table > thead > tr > th {
        vertical-align: middle !important;
        text-align: center !important;
    }

    .bot-border {
        border-bottom: 1px solid #dee2e6;
    }

    .rt-border {
        border-right: 1px solid #dee2e6;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-10 mB-10">
                <div class="form-row">
                    <div class="col-md-10">
                        <div class="mT-10">
                            <h4 class="c-grey-900 mB-20">Violation Transcation</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <div class="dropleft">
                                        <span class="btn cur-p btn-light icon-holder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class='c-blue-500 ti-angle-down'></i>
                                        </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href='javascript:void(0);'>
                                                <span class='icon-holder'>
                                                    <i class='c-blue-500 ti-pencil'></i>
                                                </span>
                                                <span class='title'>Edit</span>
                                            </a>
                                            <a class="dropdown-item" href='javascript:void(0);'>
                                                <span class='icon-holder'>
                                                    <i class='c-blue-500 ti-exchange-vertical'></i>
                                                </span>
                                                <span class='title'>History</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="dataTable" class="table  table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr style="background-color: #f9fafb;">
                            <th>
                                #
                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Date Time
                            </th>
                            <th>
                                Gantry
                            </th>
                            <th>
                                <div class="row text-center">
                                    <div class="col-sm-12 bot-border">
                                        EVI
                                    </div>
                                    <div class="col-sm-6">
                                        VRN
                                    </div>
                                    <div class="col-sm-6">
                                        Class
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="row text-center">
                                    <div class="col-sm-12 bot-border">
                                        ANPR Front
                                    </div>
                                    <div class="col-sm-3">
                                        VRN
                                    </div>
                                    <div class="col-sm-3">
                                        Class
                                    </div>
                                    <div class="col-sm-3">
                                        Image
                                    </div>
                                    <div class="col-sm-3">
                                        Video
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="row text-center">
                                    <div class="col-sm-12 bot-border">
                                        ANPR Rear
                                    </div>
                                    <div class="col-sm-3">
                                        VRN
                                    </div>
                                    <div class="col-sm-3">
                                        Class
                                    </div>
                                    <div class="col-sm-3">
                                        Image
                                    </div>
                                    <div class="col-sm-3">
                                        Video
                                    </div>
                                </div>
                            </th>
                            <th>
                                Speed
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow item in Model.Rows)
                        {
                            <tr>
                                <td>
                                    @(rowNo += 1)
                                </td>
                                <td>
                                    @item["TRANSACTION_ID"].ToString()
                                </td>
                                <td>
                                    @item["TRANSACTION_DATETIME"].ToString()
                                </td>
                                <td>
                                    @item["PLAZA_NAME"].ToString()
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @item["CTP_VRN"].ToString()
                                        </div>
                                        <div class="col-md-6" data-toggle="tooltip" data-placement="top" title=@item["CTP_VEHICLE_CLASS_NAME"].ToString() style="text-overflow: ellipsis; overflow: hidden;">
                                            @item["CTP_VEHICLE_CLASS_NAME"].ToString()
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            @item["FRONT_VRN"].ToString()
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @item["NFP_VEHICLE_CLASS_NAME_FRONT"].ToString()
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @if (item["FRONT_IMAGE"].ToString() != "")
                                            {
                                                <img src="\@item["REAR_IMAGE"].ToString()" height="40" width="60" data-high-res-src="" alt="" class="gallery-items" onclick="zoomImage(this);" />
                                            }
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @if (item["FRONT_VIDEO_URL"].ToString() != "")
                                            {
                                                string path = item["FRONT_VIDEO_URL"].ToString();
                                                path = path.Replace('/', '^');
                                                <span class="cur-p btn-light icon-holder" aria-expanded="false" onclick="openVideo(this);" style="font-size: 18px;" path="@path" data-toggle="tooltip" data-placement="top" title="Click to View">
                                                    <i class="fa fa-file-video-o" aria-hidden="true" title="click to view" style="font-size: 18px;"></i>
                                                </span>

                                            }

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            @item["REAR_VRN"].ToString()
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @item["NFP_VEHICLE_CLASS_NAME_REAR"].ToString()
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @if (item["REAR_IMAGE"].ToString() != "")
                                            {
                                                <img src="\@item["REAR_IMAGE"].ToString()" height="40" width="60" data-high-res-src="" alt="" class="gallery-items" onclick="zoomImage(this);" />

                                            }
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            @if (item["REAR_VIDEO_URL"].ToString() != "")
                                            {
                                                string path = item["REAR_VIDEO_URL"].ToString();
                                                path = path.Replace('/', '^');
                                                <span class="cur-p btn-light icon-holder" aria-expanded="false" onclick="openVideo(this);" style="font-size: 18px;" path="@path">
                                                    <i class='c-blue-500 ti-video-clapper'></i>
                                                </span>
                                            }

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @item["VEHICLESPEED"].ToString() Km/h
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/CustomerTranscation.js"></script>

